.page-header
  = link_to new_classroom_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Classroom
  %h1 Listing classrooms

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @classrooms.each do |classroom|
        %tr
          %td= classroom.name
          %td= link_to 'Show', classroom
          %td= link_to 'Edit', edit_classroom_path(classroom)
          %td= link_to 'Destroy', classroom, :data => { confirm: 'Are you sure?' }, :method => :delete
