.page-header
  = link_to new_student_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Student
  %h1 Listing students

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @students.each do |student|
        %tr
          %td= student.name
          %td= link_to 'Show', student
          %td= link_to 'Edit', edit_student_path(student)
          %td= link_to 'Destroy', student, :data => { confirm: 'Are you sure?' }, :method => :delete
